.jumbotron {
    color: white;
    background-image: url("https://soe.dcceew.gov.au/sites/default/files/soe-migration/extreme-events/destination/figures/EXT_31.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}