{% extends 'simulation/index.html' %}
{% load static %}

{% block content %}
{% include 'simulation/sponsors.html' %}

<div class="container">
  <main role="main" class="flex-shrink-0">
    <br><br>
    <div class="container mt-4">
      {% if simulations %}                
        <h1 class="display-5">All Simulations</h1>
        <br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th class="text-black show display-4" scope="col"></th>
                <th class="text-black show display-4" scope="col">Name</th>
                <th class="text-black show display-4" scope="col">Creation Date</th>
                <th class="text-black show display-4" scope="col">Author</th>
                <th></th>
                </tr>
            </thead>
            <tbody>    
              {% for i in simulations %}
                <tr>
                <td class="text-black display-4" ></td>
                <td class="text-black display-4" >{{ i.name }}</td>
                <td class="text-black display-4" >{{ i.created_on }}</td>
                <td class="text-black display-4" >{{ i.user }}</td>
                <td>
                    <a href="{% url 'detail_simulation' i.id %}"><button class="btn btn-outline-primary btn-sm">View</button></a>
                    {% if user == i.user %}
                    <a href="{% url 'update_simulation' i.id %}"><button class="btn btn-outline-primary btn-sm">Edit</button></a>
                    <a href="{% url 'delete_simulation' i.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    {% endif %}
                </td>
              </tr>               
              {% endfor %}  
            {% else %}
            <h4 class="">No simulations ...</h4>
            {% endif %}
              </tbody>
        </table>
    </div>
    <br><br>
</main>

{% endblock %}