{% load static %}

{% block content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
       
    
      <div class="container">
        <div class="row p-5 pb-0 pe-lg-0 pt-lg-5 align-items-center">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <div class="lc-block mb-3 mt-4">
              <div editable="rich">
                <h2 class="fw-bold display-2">Border hero with cropped<p></p>
                  <p></p>
                </h2>
              </div>
            </div>
      
            <div class="lc-block mb-3">
              <div editable="rich">
                <p class="display-4 px-1">Quickly design and customize responsive mobile-first sites with Bootstrap,  extensive prebuilt components, and powerful JavaScript plugins.
                </p>
              </div>
            </div>
      
            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
              <a class="btn btn-primary px-4 mx-1" href="" role="button">Click me, I'm a button</a>
              <a class="btn btn-outline-secondary px-4" href="#" role="button">Click me, I'm a button</a>
            </div>
          </div>
          <!-- <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <div class="lc-block"><img class="rounded-start" src="https://images.unsplash.com/photo-1493612276216-ee3925520721?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8M3x8d2Vic2l0ZXxlbnwwfDF8fHwxNjIxNDQ4NTEw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080" alt="Photo by Diego PH" width="720"></div>
          </div> -->
        </div>
      </div> 
       
        
    </div>
  </div>

  {% endblock %}