{% extends 'simulation/index.html' %}
{% load static %}

{% block content %}
{% include 'simulation/sponsors.html' %}


<h1>Simulation Detail</h1>
<p>Title: {{ simulation.name }}</p>
<p id="urls" style="display: none;">{{ urls }}</p>

{% if urls %}
    <h2>Graphics:</h2>    
    <div class="graphics">
        <img src="" alt="graphic" id="slideshow-image">
    </div>
    <button id="simulate">Play</button>

    <script>
        // JavaScript code for the slideshow
        var urlsString = document.getElementById('urls').textContent;
        var urls = urlsString.split('|');
        urls.pop();
        console.log(urls);
        
        var currentImageIndex = 0;
        var imageElement = document.getElementById('slideshow-image');
        var simulateButton = document.getElementById('simulate');
        var intervalId = null;

        function changeImage() {
            var imageUrl = '../../../' + urls[currentImageIndex];
            imageElement.src = imageUrl;
            currentImageIndex = (currentImageIndex + 1) % urls.length;
        }

        // Add a click event listener to the "simulate" button
        simulateButton.addEventListener('click', function() {
            if (!intervalId) {
                intervalId = setInterval(changeImage, 1000); // Start the slideshow
                simulateButton.textContent = "Pause";
            } else {
                clearInterval(intervalId); // Pause the slideshow
                intervalId = null;
                simulateButton.textContent = "Simulate";
            }
        });
    </script>
{% endif %}

{% endblock %}