{% extends 'simulation/index.html' %}

{% block content %}

    <div class="container">

        <a href="/simulation/new">New simulation</a>

        <br>

        <h1>Toutes les simulations</h1>
        
        {% for i in page_obj %}
        <div class="todo-container">
            <div class="todos">
                <li><a href="{% url 'detail_simulation' i.id %}">{{ i.name }}</a></li>
                <!-- <li><a href="{% url 'delete_simulation' i.id %}">Delete</a></li> -->
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}