{% extends 'simulation/index.html' %}

{% block content %}
    
    <div class="container-section">
        <form action="{% url 'simulations' %}" method="post" class="create-todo-form">
            {% csrf_token %}
            
            <label for="new-simulation">Name</label>
            <input type="text" name="new-simulation" id="new-simulation" required>
            <br>

            <label for="new-simulation-x">X</label>
            <input type="float" name="new-simulation-x" id="new-simulation-x" required>
            <br>

            <label for="new-simulation-y">Y</label>
            <input type="float" name="new-simulation-y" id="new-simulation-y" required>
            <br>

            <button type="submit">Creer une simulation</button>
        </form>
    </div>


{% endblock %}