{% extends 'simulation/index.html' %}
{% load static %}

{% block content %}
{% include 'simulation/sponsors.html' %}

<form action="{% url 'update_simulation' simulation.id %}" method="post" class="edit-todo-form">
    {% csrf_token %}
          
            <div>
                <label for="name_{{ simulation.id }}">Name</label>
                <p>{{ simulation.name }}</p>
                <!-- <input type="text" name="name{{ simulation.id }}" id="name{{ simulation.id }}" value="{{ simulation.name }}" required> -->
                <br>
            </div>

            <div>
                <label for="region_{{ simulation.id }}">Region</label>
                <input type="text" name="region{{ simulation.id }}" id="region{{ simulation.id }}" value="{{ simulation.region }}" required>
                <br>
            </div>

            <div>
                <label for="ville_{{ simulation.id }}">ville</label>
                <input type="text" name="ville{{ simulation.id }}" id="ville{{ simulation.id }}" value="{{ simulation.ville }}" required>
                <br>
            </div>

            <div>
                <label for="timp_{{ simulation.id }}">timp</label>
                <input type="text" name="timp{{ simulation.id }}" id="timp{{ simulation.id }}" value="{{ simulation.timp }}" required>
                <br>
            </div>

            <div>
                <label for="typeVegetation_{{ simulation.id }}">typeVegetation</label>
                <input type="text" name="typeVegetation{{ simulation.id }}" id="typeVegetation{{ simulation.id }}" value="{{ simulation.typeVegetation }}" required>
                <br>
            </div>

            <div>
                <label for="nbrDepartFeu_{{ simulation.id }}">nbrDepartFeu</label>
                <input type="text" name="nbrDepartFeu{{ simulation.id }}" id="nbrDepartFeu{{ simulation.id }}" value="{{ simulation.nbrDepartFeu }}" required>
                <br>
            </div>

            <div>
                <label for="x1veg_{{ simulation.id }}">x1veg</label>
                <input type="text" name="x1veg{{ simulation.id }}" id="x1veg{{ simulation.id }}" value="{{ simulation.x1veg }}" required>
                <br>
            </div>

            <div>
                <label for="x2veg_{{ simulation.id }}">x2veg</label>
                <input type="text" name="x2veg{{ simulation.id }}" id="x2veg{{ simulation.id }}" value="{{ simulation.x2veg }}" required>
                <br>
            </div>

            <div>
                <label for="y1veg_{{ simulation.id }}">y1veg</label>
                <input type="text" name="y1veg{{ simulation.id }}" id="y1veg{{ simulation.id }}" value="{{ simulation.y1veg }}" required>
                <br>
            </div>

            <div>
                <label for="y2veg_{{ simulation.id }}">y2veg</label>
                <input type="text" name="y2veg{{ simulation.id }}" id="y2veg{{ simulation.id }}" value="{{ simulation.y2veg }}" required>
                <br>
            </div>

            <div>
                <label for="teneurEnEau_{{ simulation.id }}">teneurEnEau</label>
                <input type="text" name="teneurEnEau{{ simulation.id }}" id="teneurEnEau{{ simulation.id }}" value="{{ simulation.teneurEnEau }}" required>
                <br>
            </div>

            <div>
                <label for="hauteurFuelBed_{{ simulation.id }}">hauteurFuelBed</label>
                <input type="text" name="hauteurFuelBed{{ simulation.id }}" id="hauteurFuelBed{{ simulation.id }}" value="{{ simulation.hauteurFuelBed }}" required>
                <br>
            </div>

            <div>
                <label for="emissiviteFuelBed_{{ simulation.id }}">emissiviteFuelBed</label>
                <input type="text" name="emissiviteFuelBed{{ simulation.id }}" id="emissiviteFuelBed{{ simulation.id }}" value="{{ simulation.emissiviteFuelBed }}" required>
                <br>
            </div>

            <div>
                <label for="absorptionFuelBed{{ simulation.id }}">absorptionFuelBed</label>
                <input type="text" name="absorptionFuelBed{{ simulation.id }}" id="absorptionFuelBed{{ simulation.id }}" value="{{ simulation.absorptionFuelBed }}" required>
                <br>
            </div>

            <div>
                <label for="densiteFuelBed{{ simulation.id }}">densiteFuelBed</label>
                <input type="text" name="densiteFuelBed{{ simulation.id }}" id="densiteFuelBed{{ simulation.id }}" value="{{ simulation.densiteFuelBed }}" required>
                <br>
            </div>

            <div>
                <label for="diametreFuelBed{{ simulation.id }}">diametreFuelBed</label>
                <input type="text" name="diametreFuelBed{{ simulation.id }}" id="diametreFuelBed{{ simulation.id }}" value="{{ simulation.diametreFuelBed }}" required>
                <br>
            </div>

            <div>
                <label for="chaleurSpecFeulBed{{ simulation.id }}">chaleurSpecFeulBed</label>
                <input type="text" name="chaleurSpecFeulBed{{ simulation.id }}" id="chaleurSpecFeulBed{{ simulation.id }}" value="{{ simulation.chaleurSpecFeulBed }}" required>
                <br>
            </div>


            <!-- climat -->
            <div>
                <label for="chargeSurface{{ simulation.id }}">chargeSurface</label>
                <input type="text" name="chargeSurface{{ simulation.id }}" id="chargeSurface{{ simulation.id }}" value="{{ simulation.chargeSurface }}" required>
                <br>
            </div>

            <div>
                <label for="hauteurFlamme{{ simulation.id }}">hauteurFlamme</label>
                <input type="text" name="hauteurFlamme{{ simulation.id }}" id="hauteurFlamme{{ simulation.id }}" value="{{ simulation.hauteurFlamme }}" required>
                <br>
            </div>

            <div>
                <label for="timeCombustion{{ simulation.id }}">timeCombustion</label>
                <input type="text" name="timeCombustion{{ simulation.id }}" id="timeCombustion{{ simulation.id }}" value="{{ simulation.timeCombustion }}" required>
                <br>
            </div>

            <div>
                <label for="timeMax{{ simulation.id }}">timeMax</label>
                <input type="text" name="timeMax{{ simulation.id }}" id="timeMax{{ simulation.id }}" value="{{ simulation.timeMax }}" required>
                <br>
            </div>

            <div>
                <label for="deltat{{ simulation.id }}">deltat</label>
                <input type="text" name="deltat{{ simulation.id }}" id="deltat{{ simulation.id }}" value="{{ simulation.deltat }}" required>
                <br>
            </div>

            <div>
                <label for="deltax{{ simulation.id }}">deltax</label>
                <input type="text" name="deltax{{ simulation.id }}" id="deltax{{ simulation.id }}" value="{{ simulation.deltax }}" required>
                <br>
            </div>

            <div>
                <label for="deltay{{ simulation.id }}">deltay</label>
                <input type="text" name="deltay{{ simulation.id }}" id="deltay{{ simulation.id }}" value="{{ simulation.deltay }}" required>
                <br>
            </div>

            <div>
                <label for="xDebut{{ simulation.id }}">xDebut</label>
                <input type="text" name="xDebut{{ simulation.id }}" id="xDebut{{ simulation.id }}" value="{{ simulation.xDebut }}" required>
                <br>
            </div>

            <div>
                <label for="xFin{{ simulation.id }}">xFin</label>
                <input type="text" name="xFin{{ simulation.id }}" id="xFin{{ simulation.id }}" value="{{ simulation.xFin }}" required>
                <br>
            </div>

            <div>
                <label for="yDebut{{ simulation.id }}">yDebut</label>
                <input type="text" name="yDebut{{ simulation.id }}" id="yDebut{{ simulation.id }}" value="{{ simulation.yDebut }}" required>
                <br>
            </div>

            <div>
                <label for="yFin{{ simulation.id }}">yFin</label>
                <input type="text" name="yFin{{ simulation.id }}" id="yFin{{ simulation.id }}" value="{{ simulation.yFin }}" required>
                <br>
            </div>

            <div>
                <label for="temperatureAir{{ simulation.id }}">temperatureAir</label>
                <input type="text" name="temperatureAir{{ simulation.id }}" id="temperatureAir{{ simulation.id }}" value="{{ simulation.temperatureAir }}" required>
                <br>
            </div>

            <div>
                <label for="vitesseDuVent{{ simulation.id }}">vitesseDuVent</label>
                <input type="text" name="vitesseDuVent{{ simulation.id }}" id="vitesseDuVent{{ simulation.id }}" value="{{ simulation.vitesseDuVent }}" required>
                <br>
            </div>

            <div>
                <label for="directionDuVen{{ simulation.id }}">directionDuVen</label>
                <input type="text" name="directionDuVen{{ simulation.id }}" id="directionDuVen{{ simulation.id }}" value="{{ simulation.directionDuVen }}" required>
                <br>
            </div>

            <div>
                <label for="pentex{{ simulation.id }}">pentex</label>
                <input type="text" name="pentex{{ simulation.id }}" id="pentex{{ simulation.id }}" value="{{ simulation.pentex }}" required>
                <br>
            </div>

            <div>
                <label for="pentey{{ simulation.id }}">pentey</label>
                <input type="text" name="pentey{{ simulation.id }}" id="pentey{{ simulation.id }}" value="{{ simulation.pentey }}" required>
                <br>
            </div>

            <div>
                <label for="temperatureFlamme{{ simulation.id }}">temperatureFlamme</label>
                <input type="text" name="temperatureFlamme{{ simulation.id }}" id="temperatureFlamme{{ simulation.id }}" value="{{ simulation.temperatureFlamme }}" required>
                <br>
            </div>

            <div>
                <label for="temperatureAllumage{{ simulation.id }}">temperatureAllumage</label>
                <input type="text" name="temperatureAllumage{{ simulation.id }}" id="temperatureAllumage{{ simulation.id }}" value="{{ simulation.temperatureAllumage }}" required>
                <br>
            </div>

            <!-- eclosion -->
            <div>
                <label for="temperatureBrais{{ simulation.id }}">temperatureBrais</label>
                <input type="text" name="temperatureBrais{{ simulation.id }}" id="temperatureBrais{{ simulation.id }}" value="{{ simulation.temperatureBrais }}" required>
                <br>
            </div>

            <div>
                <label for="emissiviteBraise{{ simulation.id }}">emissiviteBraise</label>
                <input type="text" name="emissiviteBraise{{ simulation.id }}" id="emissiviteBraise{{ simulation.id }}" value="{{ simulation.emissiviteBraise }}" required>
                <br>
            </div>

            <div>
                <label for="conductiviteBraise{{ simulation.id }}">conductiviteBraise</label>
                <input type="text" name="conductiviteBraise{{ simulation.id }}" id="conductiviteBraise{{ simulation.id }}" value="{{ simulation.conductiviteBraise }}" required>
                <br>
            </div>

            <div>
                <label for="conductiviteFlamme{{ simulation.id }}">conductiviteFlamme</label>
                <input type="text" name="conductiviteFlamme{{ simulation.id }}" id="conductiviteFlamme{{ simulation.id }}" value="{{ simulation.conductiviteFlamme }}" required>
                <br>
            </div>

            <div>
                <label for="viscositeAirChau{{ simulation.id }}">viscositeAirChau</label>
                <input type="text" name="viscositeAirChau{{ simulation.id }}" id="viscositeAirChau{{ simulation.id }}" value="{{ simulation.viscositeAirChau }}" required>
                <br>
            </div>

            <div>
                <label for="nbEclosion{{ simulation.id }}">nbEclosion</label>
                <input type="text" name="nbEclosion{{ simulation.id }}" id="nbEclosion{{ simulation.id }}" value="{{ simulation.nbEclosion }}" required>
                <br>
            </div>

            <div>
                <label for="xEclosion{{ simulation.id }}">xEclosion</label>
                <input type="text" name="xEclosion{{ simulation.id }}" id="xEclosion{{ simulation.id }}" value="{{ simulation.xEclosion }}" required>
                <br>
            </div>

            <div>
                <label for="yEclosion{{ simulation.id }}">yEclosion</label>
                <input type="text" name="yEclosion{{ simulation.id }}" id="yEclosion{{ simulation.id }}" value="{{ simulation.yEclosion }}" required>
                <br>
            </div>

            <div>
                <label for="coteSiteFeu{{ simulation.id }}">coteSiteFeu</label>
                <input type="text" name="coteSiteFeu{{ simulation.id }}" id="coteSiteFeu{{ simulation.id }}" value="{{ simulation.coteSiteFeu }}" required>
                <br>
            </div>

            <div>
                <label for="timeAllumage{{ simulation.id }}">timeAllumage</label>
                <input type="text" name="timeAllumage{{ simulation.id }}" id="timeAllumage{{ simulation.id }}" value="{{ simulation.timeAllumage }}" required>
                <br>
            </div>

            <div>
                <label for="longueurEclosion{{ simulation.id }}">longueurEclosion</label>
                <input type="text" name="longueurEclosion{{ simulation.id }}" id="longueurEclosion{{ simulation.id }}" value="{{ simulation.longueurEclosion }}" required>
                <br>
            </div>

            <div>
                <label for="xenreg{{ simulation.id }}">xenreg</label>
                <input type="text" name="xenreg{{ simulation.id }}" id="xenreg{{ simulation.id }}" value="{{ simulation.xenreg }}" required>
                <br>
            </div>

            <div>
                <label for="yenreg{{ simulation.id }}">yenreg</label>
                <input type="text" name="yenreg{{ simulation.id }}" id="yenreg{{ simulation.id }}" value="{{ simulation.yenreg }}" required>
                <br>
            </div>



        <button type="submit" class="btn btn-sm btn-primary"
            id="edit-todo-submit">Submit</button>
</form>


{% endblock %}