{% extends 'simulation/index.html' %}

{% block content %}

<div class="">
  <p>{{ simulation.created_on }}</p>
  <p>{{ simulation.user }}</p>

  <h1>Donnee sorties</h1>


{% if user == simulation.user %}
  <a href="{% url 'update_simulation' simulation.id %}">Edit </a>
  <p><a href="{% url 'delete_simulation' simulation.id %}">Delete</a></p>
{% endif %}


<br>

{% if simulation.is_completed %}
<a href="{% url 'view_graphic' pk=simulation.pk %}">Voir la simulation</a>
{% else %}
<a href="{% url 'simulate' pk=simulation.pk %}">simuler</a>
{% endif %}

{% endblock %}